body {
  background-color: #d2cddc;
  margin: 5%;
}
.bg {
  padding-top: 1%;
}
.logo {
  padding-left: 20%;
  padding-right: 20%;
}
.nav-section {
  margin-bottom: 2%;
  background-color: #ffffff;
}
nav {
  margin-top: 3%;
  display: flex;
  float: right;
  padding-right: 2%;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  padding: 20px;
}

nav button {
  text-align: center;
  color: white;
  float: right;
  height: 7vh;
  width: 7vw;
  border-radius: 20%;
  background-color: #2411ce;
}
.agencyhelp {
  background-color: #ffffff;
}
.agencyhelp p {
  color: #abd1c7;
}
.icons {
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  padding-left: 10%;
  flex-wrap: wrap;
  gap: 5%;
}
.insta {
  background-color: yellow;
  color: black;
  border-radius: 50%;
}
.bt1 {
  border-radius: 70%;
  color: rgb(228, 217, 217);
  background-color: rgb(38, 198, 219);
}
.spaces {
  padding-left: 5%;
  padding-top: 80px;
}
.column {
  padding-left: 10%;
}
.bttn {
  display: flex;
  justify-content: space-between;
}
.btnn {
  box-shadow: #bececa;
  margin-bottom: 30px;
  height: 50px;
  width: 10%;
  text-align: center;
  background-color: white;
  border-radius: 15%;
}
.btnnn {
  margin-top: 2px;
  box-shadow: #778682;
  height: 50px;
  width: 10%;
  text-align: center;
  background-color: #50a790;
  border-radius: 15%;
}
.picture {
  margin-left: 55%;
  margin-top: -25%;
}
.logo2 p {
  padding-left: 45%;
  color: #50a790;
  opacity: 100%;
  font-size: large;
}
.logo2 h1 {
  padding-left: 45%;
}
.design {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10%;
  row-gap: 30px;
}
.card1 {
  background-color: #f6f9fa;
  text-align: center;
}
.card2 {
  background-color: #50a791;
  text-align: center;
}
.card3 {
  background-color: #eef2ff;
  text-align: center;
  margin-right: 80px;
}

.section {
  display: flex;
  background-color: #ffffff;
}
.logo3 {
  padding-left: 20%;
  padding-bottom: 80px;
}
.logo3 span {
  font-size: 38px;
  border-radius: 25px;
  background-color: blue;
  width: 50px;
}
.logo3 p {
  color: #81f5d6;
}
.logo3 button {
  background-color: rgb(253, 201, 201);
  border-radius: 20px;
  border: solid 2px;
  border: none;
  height: 10%;
  width: 20vw;
}
.subscribe h1 {
  font-size: 40px;
  margin-left: 12%;
}
.subscribe h4 {
  margin-left: 20%;
}
.subscribe p {
  background-color: #51A68E;
  box-shadow: #51A68E;
  box-shadow: 10px 10px 30px ;
  width: 620px;
  border-radius: 8px;
  margin-left: 15%;
}
.subscribe input {
  width: 450px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-top-left-radius: 7%;
  background-color: #51A68E;
  border-bottom-left-radius: 7%;
}
.subscribe button {
  width: 160px;
  height: 42px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: #706AD7;
  border-radius: 8px;
}
.subscribe {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 0% 5% 5% 15%;
  border-radius: 8px;
  height: 100%;
}
.lastsection {
  padding-bottom: 20%;
  padding-left: 20%;
  padding-top: 30px;
  background-color: #ffffff;
  height: 100%;
}
.lastsection img {
  float: right;
  padding-top: 30px;
  float: right;
  margin-top: -45%;
  width: 45%;
  margin-left: 8%;
}
.lastsection button {
  margin-top: 2px;
  box-shadow: #778682;
  height: 50px;
  width: 10%;
  text-align: center;
  background-color: #50a790;
  border-radius: 15%;
}
.log {
  padding-top: -3%;
  margin-right: 80%;
}
#p2 {
  background-color: #fef8f8;
  box-shadow: #eef2ff;
}
.one h1 {
  /* margin-left: -15%; */
  border-radius: 25px;
  border: none;
  width: 50px;
  text-align: center;
  font-size: 36px;
  /* margin-top: 5%; */
  background-color: #50a791;
}
.two h1 {
  margin-left: -15%;
  color: white;
  border: none;
  border-radius: 25%;
  width: 50px;
  font-size: 36px;
  margin-top: 15%;
  text-align: center;
  background-color: #2411ce;
}
.three h1 {
  margin-left: -15%;
  border-radius: 25px;
  border: none;
  width: 50px;
  text-align: center;
  font-size: 36px;
  margin-top: 20%;
  background-color: #fcdf3b;
}
.three h4 {
  margin-top: -20%;
  padding: 10px;
}
.two h4 {
  margin-top: -20%;
  padding: 10px;
}
.logo3 button {
  padding: 10px;
}
