body {
  background-color: #d2cddc;
  margin: 5%;

}
.innerbg {
  background-color: #b3afb7;
  margin: 2%;
}
.bg {
  background-color: #ffffff;
}
nav  {
  display: flex;
  padding-top: 4%;
  padding-right: 2%;
  justify-content: space-between;
}
nav a{
    text-decoration: none;
    padding: 20px;
}
nav button{
  height: 40%;
  color: white;
  float: right;
  /* margin-top: -5%; */
  border-radius: 20%;
  background-color: #2411ce;
}
/* .icons{
  display: flex;
  padding: 20px;
  /* flex-wrap: wrap; */
  /* gap: 10%;
}
.icons p{
padding-bottom: -10px;
}  */
.column{
  padding-left: 10%;
}
.btn button{
  height: 50px;
  width: 10%;
  background-color: #50A790;
  border-radius: 20%;
  justify-content: space-between;

}
.picture {
  margin-left: 20%;
  margin-top: -25%;
}
.logo2{
    text-align: center;
}
.main {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 10%;
}
.card1{
  background-color: #F6F9FA;
}
.card2{
  background-color: #50A791;
}
.card3{
  background-color: #EEF2FF;
}
.logo3{
    float: right;
}
.logo3 button{
  background-color: white;
  border-radius: 20%;
  height: 7%;
  width: 20vw;
}
.section{
    display: flex;
}
 
/* .logo3{
    float: right;
    padding-bottom: 50%;
}  */
.subscribe h1 {
  font-size: 40px;
  margin-left: 12%;
}
.subscribe h4{
  margin-left: 20%;
}
 .subscribe p {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px rgb(205, 238, 241);
    width: 620px;
    border-radius: 8px;
    margin-left: 15%;

  }
  .subscribe input {
    width: 450px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
  }
  .subscribe button {
    width: 160px;
    height: 42px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: #4379df;
    border-radius: 8px;
  } 
  .subscribe {
    background-color: rgb(247, 253, 253);
    padding: 5% 0% 5% 15%;
    border-radius: 8px;
    margin-top: 10%;
  } 
.lastsection{
    padding: 10%;
}

